
header {
    position: fixed; 
    background-color: #F0F0F0;
    padding: 10px; 
    top: 0; 
    left: 0; 
}

nav {
    position: sticky; 
    top: 50px; 
    background-color: #ccc; 
    padding: 10px; 
}

main {
    display: flex; 
    margin-top: 80px; 
    padding: 20px; 
}

article {
    width: 60%; 
    background-color: #E0E0E0; 
    padding: 15px; 
    margin: 20px; 
}

aside {
    width: 30%; 
    background-color: #D0D0D0; 
    padding: 15px; 
    margin: 20px; 
}

footer {
    background-color: #C0C0C0; 
    padding: 10px; 
    position: fixed; 
    bottom: 0; 
    z-index: 1000;

}
